/* specifier user defined properties as a variable*/
:root {
  --green-color: #43d317;
  --dark-green: #229200;
}

* {
  margin: 0px;
  box-sizing: border-box;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Poppins", sans-serif;
  color: white;
}

body {
  background-color: rgb(0, 0, 0);
}

.main-wrapper {
  width: 70%;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  border-bottom: 1px solid var(--green-color);
  font-size: 15px;
}

.logo {
  font-size: 45px;
  font-family: "Qahiri", sans-serif;
}

.links {
  display: flex;
}

.links > p {
  margin: 0 15px;
}

.link-item > a {
  display: block;
  transform: scale(0.9);
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s ease, transform 0.3s ease;
}

.active {
  color: var(--green-color);
}

.link-item > a:hover {
  transform: scale(1);
  color: var(--green-color);
}

.cart > .fa-shopping-cart {
  font-size: larger;
}

.logo {
  animation-name: slideXY;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes slideXY {
  0% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(-3px);
  }
}

/* Main-container */

main {
  display: flex;
  align-items: center;
  margin: 32px 0 0 0;
  width: 100%;
  height: 585px;
  background-image: url("../images/main_bg.jpg");
  background-size: cover;
  background-color: var(--green-color);
  background-blend-mode: darken;
  position: relative;
}

.main-aside {
  position: absolute;
  right: 0;
  top: 0;
  width: 85px;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.1); */
  background-color: rgb(255, 255, 255, 1);
}

.main-product {
  width: 375px;
  padding-left: 22px;
}

#arrow {
  position: absolute;
  right: 25px;
  bottom: 50px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#arrow > p,
#arrow > p > .fa-chevron-down {
  color: var(--green-color);
}

#arrow p:nth-child(1) {
  font-size: 13px;
}

.scroll-down {
  animation-name: scrolling;
  animation-iteration-count: infinite;
  animation-duration: 1800ms;
  opacity: 1;
  animation-timing-function: ease-out;
}

@keyframes scrolling {
  to {
    transform: translateY(25px);
    opacity: 0;
  }
}

.main-product > h3 {
  letter-spacing: 4px;
  font-weight: 200;
  text-transform: uppercase;
}
.main-product > h1 {
  text-transform: uppercase;
  font-size: 38px;
  line-height: 40px;
  margin: 12px 0;
}

.main-product > p {
  font-weight: 300;
}

.main-product > .btn {
  background-color: var(--green-color);
  display: inline-block;
  margin-top: 16px;
  padding: 14px 26px;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid white;
  transition: background-color 300ms ease;
}

.btn:hover {
  background-color: var(--dark-green);
}

.section-B {
  background-color: #fafafa;
  display: flex;
}

.middle-section {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.items-container {
  display: flex;
  gap: 15px;
  margin: 5rem 0;
}

.item {
  position: relative;
  flex: 1;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
  cursor: pointer;
}

.item-image {
  width: 120px;
  z-index: 1;
  padding-bottom: 1em;
}

.item:hover .item-image {
  animation-name: spingy;
  animation-timing-function: cubic-bezier(0.71, 1.15, 0.25, 1.84);
  animation-duration: 700ms;
  animation-iteration-count: 1;
}

@keyframes spingy {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

.z-index {
  color: black;
  z-index: 1;
}

.item-link {
  text-decoration: none;
  font-weight: 300;
  color: var(--green-color);
}

.item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 65%;
  bottom: 0;
  left: 0;
  background-color: #ececec;
}

/* banner-1 section */
.banner-1 {
  width: 100%;
  height: 445px;
  margin-bottom: 5rem;
  background-image: url("../images/banner-speaker.jpg");
  background-size: cover;
  background-color: var(--dark-green);
  background-blend-mode: darken;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 7px;
}

.banner-1-content {
  width: 375px;
  display: flex;
  flex-direction: column;
  flex-direction: column;
}

.banner-1-content > h1 {
  font-size: 48px;
}

.banner-1-content > p {
  margin: 16px 0;
  font-weight: 300;
}

.banner-1-content .banner-1-btn {
  padding: 14px 26px;
  border-radius: 3px;
  border: 1px solid white;
  background: var(--dark-green);
  cursor: pointer;
  transition: background-color 300ms;
  position: relative;
}

.banner-1-btn::after {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--dark-green);
  background-color: rgba(153, 153, 153, 0.233);
  transition: width 300ms;
}

.banner-1-btn:hover::after {
  width: 100%;
}

/* banner-2 section */

.banner-2 {
  width: 100%;
  height: 345px;
  background-image: url("../images/marc-speaker.jpg");
  background-size: cover;
  background-position: center;
  background-color: #919191;
  background-blend-mode: darken;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 7px;
  margin-bottom: 5rem;
  padding-left: 3rem;
}

.banner-2-content > h1 {
  font-size: 35px;
}

.banner-2-content > p {
  margin: 16px 0;
  font-weight: 300;
}

.banner-2-content .banner-2-btn {
  padding: 14px 26px;
  border-radius: 3px;
  border: none;
  background: black;
  cursor: pointer;
  transition: background-color 300ms;
  position: relative;
}

.banner-2-btn::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: rgba(153, 153, 153, 0.233);
  transition: all 300ms;
}

.banner-2-btn:hover::after {
  width: 100%;
}

.banner-3-img {
  flex: 1;
  height: 465px;
  background-image: url("../images/airpodss.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  border-radius: 7px;
}

.banner-3 {
  display: flex;
  gap: 2rem;
  margin-bottom: 5rem;
}

.banner-3-content {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  border: 1px solid var(--green-color);
}

.banner-3-content .align > h3,
.banner-3-content .align > p {
  margin: 15px 0;
  width: 100%;
  color: black;
}

.align {
  width: 250px;
  padding: 1rem;
}

.banner-3-btn {
  padding: 14px 26px;
  background-color: black;
  position: relative;
}

.banner-3-btn::after {
  content: "";
  position: absolute;
  width: 0;
  top: 0;
  left: 0;
  height: 100%;
}

.banner-3-btn {
  cursor: pointer;
  border-radius: 3px;
  border: none;
  position: relative;
}

.banner-3-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(153, 153, 153, 0.233);
  transition: width 300ms;
}

.banner-3-btn:hover::after {
  width: 100%;
}

/* Last Banner */

.last-banner {
  display: flex;
  width: 100%;
  margin-bottom: 100px;
  gap: 2rem;
}

.last-banner-content {
  border-radius: 3px;
  flex: 1;
}

.text {
  padding: 5px;
  margin: 150px 10px;
}
.text > h2,
.text > p {
  color: black;
  margin-bottom: 15px;
}

.text > p {
  color: black;
  margin-bottom: 15px;
  font-weight: 300;
  color: #919191;
}

.last-banner-image {
  background-image: url("../images/p-img.jpg");
  background-size: cover;
  flex: 1;
  background-position: top;
  filter: grayscale(100%) contrast(130%) brightness(105%);
  width: 100%;
  height: 500px;
  border-radius: 7px;
}

.footer {
  width: 100%;
  color: black;
  padding-bottom: 1rem;
}

.footer-inside {
  width: 70%;
  margin: auto;
  height: 250px;
  display: flex;
}

.footer-card-1 {
  margin-right: 50px;
  flex: 1;
}

.footer-card-1 > h2 {
  margin: 20px 0;
}

.footer-card-1 > p {
  font-weight: 300;
  color: #919191;
}

.footer-card-1 > h3 {
  font-weight: 300;
  margin: 40px 0;
}

.footer-card-2 {
  flex: 1;
  display: flex;
  margin: 40px 20px;
  gap: 1rem;
  flex-direction: column;
}

.footer-card-2 > .footer-nav-links > p > a {
  display: block;
  transform: scale(0.9);
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer-card-2 > .footer-nav-links > p > a:hover {
  transform: scale(1);
  color: var(--green-color);
}

.footer-nav-links {
  flex: 1;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.footer-social-nav {
  flex: 1;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.fa-facebook,
.fa-instagram,
.fa-github {
  font-size: 25px;
  transition: color 300ms ease-in-out;
}

.fa-facebook:hover,
.fa-instagram:hover,
.fa-github:hover {
  color: var(--green-color);
}
